###############################################################################
# Python template

# Byte-compiled / optimized / DLL files
__pycache__/


###############################################################################
# other

# VSCode settings
.vscode

# graphs
*.png
*.jpg
